.nav_icons{
    display: flex;
    align-items: center;
    gap: 24px;
}
.nav_icons h5{
    color: #FFF;
font-family: Oswald;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.nav_icons .sign_in{
    margin-right: 7px;
}
.nav_component{
    position: absolute;
    width: 100%;
    background-color: black;
}
.nav_links{
    color: #DDD;
font-family: Oswald;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 30px;
}
.nav_links:hover{
    color: rgb(255, 0, 0);
    transition: 0.5s;
}